@charset "UTF-8";
* {margin : 0; padding : 0;}
.search_area {
	margin : 0 auto;
	padding : 10px;
	position : relative;
	top : 50px;
	width : 90%;
	height : 500px;
	top: 20px;
}
.cafeAll a {
	text-decoration: none;
	color:black;
	font-size : 32px;
	font-weight:bold;
}
.cafeAll a:hover {
	color: orange;
}
.cafeAll{
	width : 100%;
	padding : 10px;
	text-align : center;
}
.search_loc, .search_zone, .search_star{
	float: left;
	padding : 10px;
}
.search_star{
	position: relative;
}
.search_title{
	text-align: center;
	font-size : 24px;
	font-weight : bold;
}
.search_total{
	font-size : 24px;
	padding-top : 10px;
	padding-bottom : 20px;
	padding-left : 30px; 
	border-bottom : 1px solid #ccc;
	border-right : 1px solid #ccc;
}
.search_l1, .search_l2, .search_l3, .search_l4, .search_l5, .search_z1, .search_z2, .search_s{
	padding : 30px;
	font-size : 20px;
	display:inline-block;
	line-height:40px;
	border-right : 1px solid #ccc;
	border-bottom : 1px solid #ccc;
}

.search_z1, .search_z2{
	line-height:40px;
}
.search_kids, .search_pet, .search_star{
	float: left;
}

.fbutton{
	position : absolute;
	left : 1500px;
	top : 450px; 
	font-size : 20px;
	text-decoration : none;

}





















