@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

* {
	margin:0;
	padding:0;
	box-sizing: border-box;
	text-decoration: none;
}


body {
	font-family: 'Noto Sans KR', sans-serif;
	display : flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	background-color: #dfd4cb;
	background-size: cover;
	
}

body::before {
	content:"";
	position:absolute; 
	z-index:1;
	top:0; right:0; bottom:0; left:0;
	background-color:rgba(0,0,0,.7);
	height: 975px;
}

.cafemaneger {
	position:relative; 
	z-index:2;
}

.cafemaneger h1 {
	font-size: 32px; 
	color:#fff;
	text-align: center;
	margin-bottom: 60px;
}

.int-area {
	width: 400px;
	position:relative;
	margin-top: 20px;
}

.int-area:first-child {
	margin-top:0;
}

.int-area a {
	color: #999;
}

.int-area input  {
	width: 100%;
	padding : 20px 10px 10px;
	border:none;
	border-bottom: 1px solid #999;
	background-color:transparent;
	font-size:18px; 
	color: #fff;
	outline: none;
}

.int-area label {
	position: absolute;
	left:10px;
	top:1px;
	font-size: 18px;
	color: #999;
	transition: all .5s ease;
}

.int-area label.warning {
	color: red !important;
	animation: warning .3s ease;
	animation-iteration-count: 3; /*세번 움직여라 */
}

@keyframes warning {
	0% {transform: translateX(-8px);}
	25% {transform: translateX(8px);}
	50% {transform: translateX(-8px);}
	75% {transform: translateX(8px);}
}

.int-area input:focus + label,
.int-area input:valid + label {
	top: -2px;
	font-size:13px;
	color: skyblue;
}

.btn-area button {
	width:100%; height:50px;
	background: #166cea;  
	color: #fff;
	font-size: 20px;
	border: none;
	border-radius: 25px; 
	cursor: pointer; 
}

.caption {
	margin-top: 20px;
	text-align: center;
	cursor: pointer;
}

.caption a {
	font-size: 15px;
	color: #999;
	
	
}

.caption a:hover {
	cursor: pointer;
	color: skyblue;
}

.caption input {
	font-size: 16px;
	border: none;
	color: #999;
	background-color:transparent;
}

.caption input:hover {
		cursor: pointer;
		color: skyblue;
}


#location1 {
	position:relative;
	top: 5px;
	left: 380px;
}

.button-area a {
	color: #999;
}

.button-area label {
	color: #999;
}

.btn-area input {
	width:70px; height:40px;
	background: #166cea;  
	color: #fff;
	font-size: 20px;
	border: none;
	border-radius: 25px; 
	cursor: pointer; 
	
	
}

.btn-area {
	margin-top: 30px;
}


.btn-area a {
	position: absolute;
	margin-top: 3px;
	color: skyblue;
	width:80px; height:33px;
	background: #166cea;  
	color: #fff;
	font-size: 20px;
	border: none;
	border-radius: 25px; 
	cursor: pointer; 
	text-align:center;
	
}











	