<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.web.root.mybatis.img.CafeImageMapper">

<!-- 	<resultMap type="com.web.root.review.dto.MemberDTO" id="imgs">
		<result property="imgName" column="imgName"/> 
		<result property="imgLocation" column="imgLocation"/> 
		<result property="cafe_no" column="cafe_no"/>
	</resultMap>
	
	<select id="cafeImageLists" resultMap="imgs">
		select * from cafe_Image
	</select> -->
</mapper>

















