@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');


*{margin : 0; 
  padding : 0;
  box-sizing: border-box;
  

}

body {
	font-family: 'Noto Sans KR', sans-serif;
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 1200px;
/* 	background: url("https://guidetoiceland.imgix.net/198987/x/0/iiisezeeoei-eee-ieoee-2?ixlib=php-3.3.0&w=883") 
				no-repeat center; */
	background-size: cover;	
	overflow:auto;
	
}

body::before {
	content:"";
	position:absolute;
	z-index:1;
	/* top:0; right:0; bottom:0; left:0;
	background-color:rgba(0,0,0,.7); */
}

.writeForm {
	position:relative;
	z-index:2;
}

.writeForm h1 {
	font-size: 32px;
	color: black;
	text-align:center;
	margin-top:-240px;
	margin-bottom: -15px;
}

.int-area {
	width: 400px;
	position:relative;
	margin-top: 20px;
}

.int-area:first-child {
	margin-top: 0;
	
	
}
.gender input {
	margin-left: 50px;
}

.gender label {
	color: black;
	font-weight: bold;
	font-size: 15px;
	text-align: left;
	
		
}


.int-area input {
	width: 100%;
	padding: 20px 10px 0px;
	background-color: transparent;
	border:none;
	border-bottom: 1px solid #999;
	font-size: 18px;
	color: black;
	outline: none;
}


.int-area label {
	position: absolute;
	left: 20px;
	top: 15px;
	font-size: 25px;
	color: #999;
	transition: all .5s ease;
	
}

.int-area label.warning {
	color: red !important;
	animation: warning .3s ease;
	animation-iteration-count: 3; 
}

@keyframes warning {
	0% {transform: translateX(-8px);}
	25% {transform: translateX(8px);}
	50% {transform: translateX(-8px);}
	75% {transform: translateX(8px);}
}

.int-area input:focus + label,
.int-area input:valid + label {
	top: -3px;
	font-size: 15px;
	/* color: skyblue; */
	color: black;
	font-weight: bold;
	margin-left: -20px;
}

.btn-area a {
	text-decoration: none;
	
}

.btn-area {
	margin-top: 30px;
	text-align: center;
}

.btn-area input {
	width: 100%; 
	height: 50px;
	background: #166cea;
	color: #fff;
	font-size: 20px;
	border: none;
	border-radius: 25px;
	cursor: pointer;
}
















































